.app {
  background-color: #e5e5e5;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
button:hover {
  cursor: pointer;
}

#middleline {
  border-right: 2px solid gray;
  height: 60%;
}
.card {
  background-color: white;
  width: 25%;
  height: 85%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  padding-right: 40px;
  /* justify-content: center; */
}
.header h4 {
  margin: 20px;
  font-size: 23px;
}
.body {
  /* margin: 20px; */
  padding: 5px 20px;
}
.footer {
  margin: 20px;
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
  width: 100%;
  align-items: center;
}
#telegramBtn {
  font-size: 1rem;
  background-color: white;
  border: 1px solid black;
  outline: none;
  width: 80%;
  padding: 10px;
  margin: 10px 0px;
  border-radius: 6px;
  height: 3.3rem;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Btn {
  font-size: 1rem;
  background: #0033ea;
  color: white;
  border: none;
  outline: none;
  width: 80%;
  padding: 12px;
  margin: 10px 0px;
  border-radius: 6px;
  height: 3.3rem;
  width: 90%;
}
.UpCont {
  /* display: flex; */
  margin: 30px 0px;
  position: relative;
}
.UpCont .bal {
  position: absolute;
  font-size: 13px;
  /* align-self: flex-end; */
  right: 0;
  padding: 10px 0px;
}

.upper-input {
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 5px;
  width: 100%;
  display: flex;
}
.des {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid black;
  border-radius: 5px;
}
.des img {
  padding: 0px 10px;
}

.inputDiv {
  display: flex;
  flex-direction: column;
}

.inputDiv input {
  height: 100%;
  border: none;
  outline: none;
  font-weight: bolder;
  padding: 0;
  font-size: 25px;
  width: 95%;
}
.inputDiv span {
  margin: 0;
  font-size: 13px;
  /* font-weight: bold; */
  color: #5e5e5e;
}
.maxCont {
  display: flex;
  justify-content: space-between;
}
.maxCont button {
  border: none;
  background-color: white;
  color: #0033ea;
}

.arrow {
  border: 2px solid black;
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 5px;
  text-align: center;
  margin: 10px 50%;
  border-radius: 50%;
}

.qrcode {
  display: flex;
  height: 90%;
  background: white;
  /* padding: 54px; */
  width: 25%;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}

.qrcode h2 {
  margin-bottom: 76px;
  margin-top: 40px;
}
.desBtn {
  border: none;
  background-color: white;
  border-left: 1px solid black;
  border-radius: 11px;
  /* padding: 0px 20px; */
  display: flex;
  align-items: center;
}
#UP {
  margin: 120px 0px;
}

@media only screen and (max-width: 900px) {
  .app {
    flex-direction: column;
    background-color: white;
  }
  .card {
    width: 100% !important;
    height: 92%;
    margin-top: 600px;
    padding: 38px;
  }
  .UpCont {
    /* display: flex; */
    margin: 21px 0px;
    position: relative;
  }
  #middleline {
    /* display: none; */
    border: none;
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #middleline h1 {
    display: block;
  }
  .qrcode {
    width: 100% !important;
    border-radius: 0;
  }
}
